<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

                <li<%= sidebar_current("docs-aws-index") %>>
                    <a href="/docs/providers/aws/index.html">AWS Provider</a>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-cloudformation/) %>>
                    <a href="#">CloudFormation Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-cloudformation-stack") %>>
                            <a href="/docs/providers/aws/r/cloudformation_stack.html">aws_cloudformation_stack</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-cloudtrail/) %>>
                    <a href="#">CloudTrail Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-cloudtrail") %>>
                            <a href="/docs/providers/aws/r/cloudtrail.html">aws_cloudtrail</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-cloudwatch/) %>>
                    <a href="#">CloudWatch Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-log-group") %>>
                            <a href="/docs/providers/aws/r/cloudwatch_log_group.html">aws_cloudwatch_log_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-cloudwatch-metric-alarm") %>>
                            <a href="/docs/providers/aws/r/cloudwatch_metric_alarm.html">aws_cloudwatch_metric_alarm</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-codecommit/) %>>
                    <a href="#">CodeCommit Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-codecommit-repository") %>>
                            <a href="/docs/providers/aws/r/code_commit_repository.html">aws_codecommit_repository</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-codedeploy/) %>>
                    <a href="#">CodeDeploy Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-codedeploy-app") %>>
                            <a href="/docs/providers/aws/r/codedeploy_app.html">aws_codedeploy_app</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-codedeploy-deployment-group") %>>
                            <a href="/docs/providers/aws/r/codedeploy_deployment_group.html">aws_codedeploy_deployment_group</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-directory-service/) %>>
                    <a href="#">Directory Service Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-directory-service-directory") %>>
                            <a href="/docs/providers/aws/r/directory_service_directory.html">aws_directory_service_directory</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-dynamodb/) %>>
                    <a href="#">DynamoDB Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-dynamodb-table") %>>
                            <a href="/docs/providers/aws/r/dynamodb_table.html">aws_dynamodb_table</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-(app|autoscaling|ebs|elb|eip|instance|launch|lb|proxy|spot|volume|placement|key-pair)/) %>>
                    <a href="#">EC2 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-ami") %>>
                            <a href="/docs/providers/aws/r/ami.html">aws_ami</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ami-copy") %>>
                            <a href="/docs/providers/aws/r/ami_copy.html">aws_ami_copy</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ami-from-instance") %>>
                            <a href="/docs/providers/aws/r/ami_from_instance.html">aws_ami_from_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-app-cookie-stickiness-policy") %>>
                            <a href="/docs/providers/aws/r/app_cookie_stickiness_policy.html">aws_app_cookie_stickiness_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-group") %>>
                            <a href="/docs/providers/aws/r/autoscaling_group.html">aws_autoscaling_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-lifecycle-hook") %>>
                            <a href="/docs/providers/aws/r/autoscaling_lifecycle_hooks.html">aws_autoscaling_lifecycle_hook</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-notification") %>>
                            <a href="/docs/providers/aws/r/autoscaling_notification.html">aws_autoscaling_notification</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-policy") %>>
                            <a href="/docs/providers/aws/r/autoscaling_policy.html">aws_autoscaling_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-autoscaling-schedule") %>>
                          <a href="/docs/providers/aws/r/autoscaling_schedule.html">aws_autoscaling_schedule</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ebs-volume") %>>
                            <a href="/docs/providers/aws/r/ebs_volume.html">aws_ebs_volume</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-eip") %>>
                            <a href="/docs/providers/aws/r/eip.html">aws_eip</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elb") %>>
                            <a href="/docs/providers/aws/r/elb.html">aws_elb</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-instance") %>>
                            <a href="/docs/providers/aws/r/instance.html">aws_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-launch-configuration") %>>
                            <a href="/docs/providers/aws/r/launch_configuration.html">aws_launch_configuration</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-lb-cookie-stickiness-policy") %>>
                            <a href="/docs/providers/aws/r/lb_cookie_stickiness_policy.html">aws_lb_cookie_stickiness_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-placement-group") %>>
                            <a href="/docs/providers/aws/r/placement_group.html">aws_placement_group</a>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-proxy-protocol-policy") %>>
                            <a href="/docs/providers/aws/r/proxy_protocol_policy.html">aws_proxy_protocol_policy</a>
                        </li>


                        <li<%= sidebar_current("docs-aws-resource-spot-instance-request") %>>
                            <a href="/docs/providers/aws/r/spot_instance_request.html">aws_spot_instance_request</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-volume-attachment") %>>
                            <a href="/docs/providers/aws/r/volume_attachment.html">aws_volume_attachment</a>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-key-pair") %>>
                            <a href="/docs/providers/aws/r/key_pair.html">aws_key_pair</a>
                        </li>
                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-(ecs|ecr)/) %>>
                    <a href="#">ECS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-ecs-cluster") %>>
                            <a href="/docs/providers/aws/r/ecs_cluster.html">aws_ecs_cluster</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecs-service") %>>
                            <a href="/docs/providers/aws/r/ecs_service.html">aws_ecs_service</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecs-task-definition") %>>
                            <a href="/docs/providers/aws/r/ecs_task_definition.html">aws_ecs_task_definition</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecr-repository") %>>
                            <a href="/docs/providers/aws/r/ecr_repository.html">aws_ecr_repository</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-ecr-repository-policy") %>>
                            <a href="/docs/providers/aws/r/ecr_repository_policy.html">aws_ecr_repository_policy</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-efs/) %>>
                    <a href="#">EFS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-efs-file-system") %>>
                            <a href="/docs/providers/aws/r/efs_file_system.html">aws_efs_file_system</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-efs-mount-target") %>>
                            <a href="/docs/providers/aws/r/efs_mount_target.html">aws_efs_mount_target</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-elasticache/) %>>
                    <a href="#">ElastiCache Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-elasticache-cluster") %>>
                            <a href="/docs/providers/aws/r/elasticache_cluster.html">aws_elasticache_cluster</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticache-parameter-group") %>>
                            <a href="/docs/providers/aws/r/elasticache_parameter_group.html">aws_elasticache_parameter_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticache-security-group") %>>
                            <a href="/docs/providers/aws/r/elasticache_security_group.html">aws_elasticache_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-elasticache-subnet-group") %>>
                            <a href="/docs/providers/aws/r/elasticache_subnet_group.html">aws_elasticache_subnet_group</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-elasticsearch/) %>>
                    <a href="#">ElasticSearch Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-elasticsearch-domain") %>>
                            <a href="/docs/providers/aws/r/elasticsearch_domain.html">aws_elasticsearch_domain</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-glacier/) %>>
                    <a href="#">Glacier Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-aws-resource-glacier-vault") %>>
                            <a href="/docs/providers/aws/r/glacier_vault.html">aws_glacier_vault</a>
                        </li>
                    </ul>
                 </li>


                <li<%= sidebar_current(/^docs-aws-resource-iam/) %>>
                    <a href="#">IAM Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-iam-access-key") %>>
                            <a href="/docs/providers/aws/r/iam_access_key.html">aws_iam_access_key</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-group") %>>
                            <a href="/docs/providers/aws/r/iam_group.html">aws_iam_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-group-policy") %>>
                            <a href="/docs/providers/aws/r/iam_group_policy.html">aws_iam_group_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-group-membership") %>>
                            <a href="/docs/providers/aws/r/iam_group_membership.html">aws_iam_group_membership</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-instance-profile") %>>
                            <a href="/docs/providers/aws/r/iam_instance_profile.html">aws_iam_instance_profile</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-policy") %>>
                            <a href="/docs/providers/aws/r/iam_policy.html">aws_iam_policy</a>
                        </li>
                        <li<%= sidebar_current("docs-aws-resource-iam-policy-attachment") %>>
                            <a href="/docs/providers/aws/r/iam_policy_attachment.html">aws_iam_policy_attachment</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-role") %>>
                            <a href="/docs/providers/aws/r/iam_role.html">aws_iam_role</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-role-policy") %>>
                            <a href="/docs/providers/aws/r/iam_role_policy.html">aws_iam_role_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-saml-provider") %>>
                            <a href="/docs/providers/aws/r/iam_saml_provider.html">aws_iam_saml_provider</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-server-certificate") %>>
                            <a href="/docs/providers/aws/r/iam_server_certificate.html">aws_iam_server_certificate</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-user") %>>
                            <a href="/docs/providers/aws/r/iam_user.html">aws_iam_user</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-iam-user-policy") %>>
                            <a href="/docs/providers/aws/r/iam_user_policy.html">aws_iam_user_policy</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-kinesis/) %>>
                    <a href="#">Kinesis Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-kinesis-stream") %>>
                            <a href="/docs/providers/aws/r/kinesis_stream.html">aws_kinesis_stream</a>
                        </li>

                    </ul>
                </li>

              <li<%= sidebar_current(/^docs-aws-resource-kinesis-firehose/) %>>
                <a href="#">Kinesis Firehose Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-aws-resource-kinesis-firehose-delivery-stream") %>>
                    <a href="/docs/providers/aws/r/kinesis_firehose_delivery_stream.html">aws_kinesis_firehose_delivery_stream</a>
                  </li>

                </ul>
              </li>

              <li<%= sidebar_current(/^docs-aws-resource-lambda/) %>>
                  <a href="#">Lambda Resources</a>
                  <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-aws-resource-lambda-alias") %>>
                          <a href="/docs/providers/aws/r/lambda_alias.html">aws_lambda_alias</a>
                      </li>
                      <li<%= sidebar_current("docs-aws-resource-lambda-function") %>>
                          <a href="/docs/providers/aws/r/lambda_function.html">aws_lambda_function</a>
                      </li>
                      <li<%= sidebar_current("docs-aws-resource-aws-lambda-event-source-mapping") %>>
                          <a href="/docs/providers/aws/r/lambda_event_source_mapping.html">aws_lambda_event_source_mapping</a>
                      </li>
                  </ul>
              </li>

                <li<%= sidebar_current(/^docs-aws-resource-opsworks/) %>>
                    <a href="#">OpsWorks Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-opsworks-custom-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_custom_layer.html">aws_opsworks_custom_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-ganglia-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_ganglia_layer.html">aws_opsworks_ganglia_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-haproxy-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_haproxy_layer.html">aws_opsworks_haproxy_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-instance") %>>
                            <a href="/docs/providers/aws/r/opsworks_instance.html">aws_opsworks_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-java-app-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_java_app_layer.html">aws_opsworks_java_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-memcached-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_memcached_layer.html">aws_opsworks_memcached_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-mysql-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_mysql_layer.html">aws_opsworks_mysql_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-nodejs-app-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_nodejs_app_layer.html">aws_opsworks_nodejs_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-php-app-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_php_app_layer.html">aws_opsworks_php_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-rails-app-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_rails_app_layer.html">aws_opsworks_rails_app_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-stack") %>>
                            <a href="/docs/providers/aws/r/opsworks_stack.html">aws_opsworks_stack</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-static-web-layer") %>>
                            <a href="/docs/providers/aws/r/opsworks_static_web_layer.html">aws_opsworks_static_web_layer</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-opsworks-application") %>>
                            <a href="/docs/providers/aws/r/opsworks_application.html">aws_opsworks_application</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current(/^docs-aws-resource-(db|rds)/) %>>
                    <a href="#">RDS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-db-instance") %>>
                            <a href="/docs/providers/aws/r/db_instance.html">aws_db_instance</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-parameter-group") %>>
                            <a href="/docs/providers/aws/r/db_parameter_group.html">aws_db_parameter_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-security-group") %>>
                            <a href="/docs/providers/aws/r/db_security_group.html">aws_db_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-db-subnet-group") %>>
                            <a href="/docs/providers/aws/r/db_subnet_group.html">aws_db_subnet_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-rds-cluster") %>>
                            <a href="/docs/providers/aws/r/rds_cluster.html">aws_rds_cluster</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-rds-cluster-instance") %>>
                            <a href="/docs/providers/aws/r/rds_cluster_instance.html">aws_rds_cluster_instance</a>
                        </li>

                    </ul>
                </li>

              <li<%= sidebar_current(/^docs-aws-resource-redshift/) %>>
                <a href="#">Redshift Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-aws-resource-redshift-cluster") %>>
                    <a href="/docs/providers/aws/r/redshift_cluster.html">aws_redshift_cluster</a>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-redshift-parameter-group") %>>
                    <a href="/docs/providers/aws/r/redshift_parameter_group.html">aws_redshift_parameter_group</a>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-redshift-security-group") %>>
                    <a href="/docs/providers/aws/r/redshift_security_group.html">aws_redshift_security_group</a>
                  </li>

                  <li<%= sidebar_current("docs-aws-resource-redshift-subnet-group") %>>
                    <a href="/docs/providers/aws/r/redshift_subnet_group.html">aws_redshift_subnet_group</a>
                  </li>

                </ul>
              </li>


                <li<%= sidebar_current(/^docs-aws-resource-route53/) %>>
                    <a href="#">Route53 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-route53-delegation-set") %>>
                            <a href="/docs/providers/aws/r/route53_delegation_set.html">aws_route53_delegation_set</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-health-check") %>>
                            <a href="/docs/providers/aws/r/route53_health_check.html">aws_route53_health_check</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-record") %>>
                            <a href="/docs/providers/aws/r/route53_record.html">aws_route53_record</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-zone") %>>
                            <a href="/docs/providers/aws/r/route53_zone.html">aws_route53_zone</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route53-zone-association") %>>
                            <a href="/docs/providers/aws/r/route53_zone_association.html">aws_route53_zone_association</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-s3/) %>>
                    <a href="#">S3 Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-s3-bucket") %>>
                            <a href="/docs/providers/aws/r/s3_bucket.html">aws_s3_bucket</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-s3-bucket-object") %>>
                            <a href="/docs/providers/aws/r/s3_bucket_object.html">aws_s3_bucket_object</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-sns/) %>>
                    <a href="#">SNS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-sns-topic") %>>
                            <a href="/docs/providers/aws/r/sns_topic.html">aws_sns_topic</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-sns-topic-subscription") %>>
                            <a href="/docs/providers/aws/r/sns_topic_subscription.html">aws_sns_topic_subscription</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-sqs/) %>>
                    <a href="#">SQS Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-sqs-queue") %>>
                            <a href="/docs/providers/aws/r/sqs_queue.html">aws_sqs_queue</a>
                        </li>

                    </ul>
                </li>


                <li<%= sidebar_current(/^docs-aws-resource-(customer|flow|internet-gateway|main-route|network|route-|security-group|subnet|vpc|vpn)/) %>>
                    <a href="#">VPC Resources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-aws-resource-customer-gateway") %>>
                            <a href="/docs/providers/aws/r/customer_gateway.html">aws_customer_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-flow-log") %>>
                            <a href="/docs/providers/aws/r/flow_log.html">aws_flow_log</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-internet-gateway") %>>
                            <a href="/docs/providers/aws/r/internet_gateway.html">aws_internet_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-main-route-table-assoc") %>>
                            <a href="/docs/providers/aws/r/main_route_table_assoc.html">aws_main_route_table_association</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-nat-gateway") %>>
                            <a href="/docs/providers/aws/r/nat_gateway.html">aws_nat_gateway</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-network-acl") %>>
                            <a href="/docs/providers/aws/r/network_acl.html">aws_network_acl</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-network-acl-rule") %>>
                          <a href="/docs/providers/aws/r/network_acl_rule.html">aws_network_acl_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-network-interface") %>>
                            <a href="/docs/providers/aws/r/network_interface.html">aws_network_interface</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route|") %>>
                          <a href="/docs/providers/aws/r/route.html">aws_route</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route-table|") %>>
                            <a href="/docs/providers/aws/r/route_table.html">aws_route_table</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-route-table-association") %>>
                            <a href="/docs/providers/aws/r/route_table_association.html">aws_route_table_association</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-security-group") %>>
                            <a href="/docs/providers/aws/r/security_group.html">aws_security_group</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-security-group-rule") %>>
                            <a href="/docs/providers/aws/r/security_group_rule.html">aws_security_group_rule</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-subnet") %>>
                            <a href="/docs/providers/aws/r/subnet.html">aws_subnet</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc") %>>
                            <a href="/docs/providers/aws/r/vpc.html">aws_vpc</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-dhcp-options") %>>
                            <a href="/docs/providers/aws/r/vpc_dhcp_options.html">aws_vpc_dhcp_options</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-dhcp-options-association") %>>
                            <a href="/docs/providers/aws/r/vpc_dhcp_options_association.html">aws_vpc_dhcp_options_association</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-endpoint") %>>
                            <a href="/docs/providers/aws/r/vpc_endpoint.html">aws_vpc_endpoint</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpc-peering") %>>
                            <a href="/docs/providers/aws/r/vpc_peering.html">aws_vpc_peering</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpn-connection") %>>
                            <a href="/docs/providers/aws/r/vpn_connection.html">aws_vpn_connection</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpn-connection-route") %>>
                            <a href="/docs/providers/aws/r/vpn_connection_route.html">aws_vpn_connection_route</a>
                        </li>

                        <li<%= sidebar_current("docs-aws-resource-vpn-gateway") %>>
                            <a href="/docs/providers/aws/r/vpn_gateway.html">aws_vpn_gateway</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
